# этот файл чисто для галочки пока, т.к. .env мне вообще не нужен сейчас, 
# я в docker-compose все переменные окружения пока зашила 
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/mtm_db