# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Docker
*.log

# IDE / редакторы
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Тестирование/покрытие
.pytest_cache/
.coverage
htmlcov/